body{
    margin: 0;
    padding: 0;
    display: flex;
    background: url(/static/imgs/bgLogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}
#container{
    width: 350px;
    height: 500px;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -250px;
    border-radius: 8px;
}
#container:before{
    width: 400px;
    height: 550px;
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
    filter: blur(10px);
}
form{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
input{
    background: 0;
    width: 200px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid rgba(255,255,255, 0.3);
    margin: 20px 0;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255,255,255, 0.8);
}
select{
    width: 200px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
}
label{
    text-transform: uppercase;
    font-size: 1.5em;
    color: aliceblue;
}
input::placeholder{
    color: rgba(240, 255, 255, 0.336);
}
input:focus{
    color: #df2359;
    border-color: #df2359;
}
input[type="submit"]{
    border: 0;
    border-radius: 8px;
    padding-bottom: 0;
    height: 60px;
    background: #df2359;
    color: white;
    cursor: pointer;
    transition: all 600ms ease-in-out;
}
input[type="submit"]:hover{
    background: #C0392B;
}
a{
    color: #df2359;
}
.warning{
    color: #df2359;
}

footer{
    position: absolute;
    bottom: 0;
}
footer div{
    height: 20px;
    width: 100vw;
    background: linear-gradient(transparent, black);
}
.my-link{
    display: block;
    width: 100vw;
    background: none;
    background-color: black;
    text-align: center;
}