body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8vh;
    min-width: 100vw;
    z-index: 4;
    background-color: #2C3E50;
    color: white;
    position: sticky;
}
#header{
    z-index: 4;
    width: 100vw;
}
.logo{
    text-transform: uppercase;
    letter-spacing: 3px; 
    font-size: 20px;
    font-weight: bold;
    
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
.burger{
    cursor: pointer;
    display: none;
    z-index: 3;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 50px;
    transition: all 0.5s ease;
}
@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width: 768px){
    .burger{
        display: block;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 0;
        height: 70vh;
        z-index: 1;
        background: #2C3E50;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
        transform: translateX(200%);
        border-radius: 20px;
    }

    .nav-links li{
        opacity: 0;
    }
}
.nav-active{
    overflow: hidden;
    transition: transform 0.5s ease-in;
    transform: translateX(0%);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px); 
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
