<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/addnew.css')}}">
    <title>AddNew Course</title>
</head>
<body>
    <button type="button" onclick="delCourse()">Delete Course</button>
    <div class="details">
        <input type="text" id="name" placeholder="Name of the course" value="{{name}}" max="200"/>
        <input type="text" id="desc" placeholder="Dscription of the course" value="{{desc}}" max="2000"/>
        <input type="Number" id="timelimit" placeholder="Enter Time Limit in Minutes (0 for no timelimit)" value="{{timelimit}}"/>
        <input type="Number" id="warnings" placeholder="Enter Number of warnings" value="{{warnings}}"/>
        <input type="Number" id="negativeMarks" placeholder="Enter Negative marks for each question" value="{{negativeMarks}}"/>
        <textarea id="instruction" placeholder="Enter Test Instructions" name="textarea">{{instruction}}</textarea>
        <p id="label">Schedule Test (optional)</p>
        <input type="datetime-local" id="myLocalDate">
    </div>
    <div class="main-content"></div>
    <button type="button" onclick="addNewDom()" class="add-button">+</button>
    <br>
    <p id="link-generated"></p>
    <button type="button" onclick="submitForm()" class="submit-button">Submit</button>
    <button type="button" onclick="generatelink()">Get Link</button>
    <script type="text/javascript" src="{{url_for('static',filename='js/addnew.js')}}"></script>
    <script type="text/javascript">
        var myVar = myFunc({{data|safe}});
        var var2 = setCourseId({{courseId}});
        var var3 = setSchedule("{{schedule}}");
    </script>
</body>
</html>