<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboards</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/leaderboard.css')}}">
</head>
<body>
    <nav id="header" class="helloheader">
        <div class="logo">leaderboard</div>
    </nav>
    <div class="main-content">
        <div class="display-data heading">
            <p class="rank">Rank</p>
            <p class="username">Userame</p>
            <p class="points">Points</p>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='js/leaderboard.js')}}"></script>
    <script type="text/javascript">
        var myVar = myFunc({{data|safe}});
    </script>
</body>
</html>