<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}"/>
    <title>{{username}}</title>
</head>
<body>
    <div id="container">
        <img src="{{url_for('static',filename='imgs/accounts.png')}}" alt="Failed to Display Image" class="circleimg">
        <h3>Username: {{username}}</h3>
        <h3>Marks: {{marks}}</h3>
        <h3>Course attended: {{courses}}</h3>
    </div>
</body>
</html>