<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/footer.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/design-login.css')}}"/>
    <title>Register</title>
</head>
<body>
    <div id="container">
        <form method="POST" id="form">
            <label for="username">UserName</label>
            <input id="username" name="username" type="text" placeholder="Enter your Username" required>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Enter your Password" required>
            <select name="type" id="type">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
            <input type="submit" value="Sign-Up">
            <p>Already a User? <a href="\login">Login</a> </p>
        </form>
    </div>
    <footer class="abs_footer">
        <div class="footer_p">Made with<div class="heart_container"><i class="fas fa-heart"></i></div> by <a class="footer-name" target="_blank" href="https://kaustubhvats-portfolio.netlify.app">Kaustubh Vats</a></div>
        <div>
            <a href="https://github.com/kaustubh-vats/quizzer" target="_blank" class="github-link"><i class="fab fa-github"></i> Github Repo</a>
        </div>
    </footer>
    <script type="text/javascript" src = "{{url_for('static',filename='js/loginback.js')}}"></script>
    <script type="text/javascript">
        err = myFunc({{data|tojson}});
    </script>
    
</body>
</html>