<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{meta_desc}}">
    <meta name="title" content="{{meta_title}}">
    <meta name="author" content="Kaustubh Vats">
    <meta name="country" content="IN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2C3E50">
    <meta name="keywords"
        content="quiz, online quiz, online quiz">
    <title>{{meta_title}}</title>

    <!-- Facebook meta tags -->
    <meta property="og:type" content="Website" />
    <meta property="og:title" content="{{meta_title}}" />
    <meta property="og:description" content="{{meta_desc}}" />
    <meta property="og:image" content="{{meta_img}}" />
    <meta property="og:url" content="https://quizzzer.herokuapp.com/">
    <meta property="og:updated_time" content="{{update_time}}" />
    <meta property="og:modified_time" content="{{update_time}}" />
    <meta property="og:site_name" content="Quizzer" />

    <!-- twitter meta tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://quizzzer.herokuapp.com/">
    <meta property="twitter:title"
        content="{{meta_title}}">
    <meta property="twitter:description"
        content="{{meta_desc}}">
    <meta property="twitter:image"
        content="{{meta_img}}">

    <title>{{courseName}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/startTest.css')}}"
</head>
<body>
    <nav id="header" class="helloheader">
        <div class="logo">{{courseName}} by: {{author}}</div>
    </nav>
    <div id="main-test" class="unselectable">
        <div class="limit-container">
            <div id="pointsDiv">
                <p id='points'>Points: 0</p>
                <p id='negativeMarks'>Negative Marks: 0</p>
            </div>
            <p id="timelimit">00:00:00</p>
        </div>
        <p id="question">Question</p>
        <img src="/static/imgs/volume.png" id="read" class="read_button" alt="read"/>
        <br />
        <input type="radio" name="option" id='option1' title="option1" value="1"/>
        <label id='option1Label'>Option1</label><br />
        <input type="radio" name="option" id='option2' title="option2" value="2"/>
        <label id='option2Label'>Option2</label><br />
        <input type="radio" name="option" id='option3' title="option3" value="3"/>
        <label id='option3Label'>Option3</label><br />
        <input type="radio" name="option" id='option4' title="option4" value="4"/>
        <label id='option4Label'>Option4</label><br />
        <div class="relativpos" id='tagDiv'>
            <p>Tags: </p>
        </div>
        <div class="relativepos">
            <button type="button" id="previous" onclick="previous()">Previous</button>
            <button type="button" id="next" onclick="nextQuest()">Next</button>
            <button type="button" id="submitTest" onclick="submitTest()">Submit</button>
            
            <div class="small-cam">
                <video id="small-video" muted></video>
            </div>
        </div>
    </div>
    <div id="main-basic">
        <div class="flex-main">
            <div class="web-cam">
                <video id="full-video" muted></video>
            </div>
            <div id="container">
                <p class='centered' id="score">Score: Not Attempted</p>
                <p class='centered' id="tlimit">Time Limit : {{timelimit}} minutes</p>
                <p class='centered' id="warnings">Total Warnings : {{warnings}}</p>
                <p class='centered' id="author">Course Author : {{author}}</p>
                <div>
                    <textarea readonly>Course Description : {{description}}</textarea>
                </div>
                <div id="instruction">
                    <textarea readonly>{{instruction}}</textarea>
                </div>
                <button id="startTest" type="button" onclick="startTest()">Start Test</button>
                <a href="/leaderboard?course={{courseId}}">
                    leaderboard
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='js/startTest.js')}}"></script>
    <script type="text/javascript">
        var myVar = myFunc({{data|safe}});
        var tlt = myTimeL({{timelimit}});
        var scr = myScr({{marks}});
        var cId = myCourseId({{courseId}});
        var warnGet = myWarnings({{warnings}});
        var negMarks = myNegMarks({{negativeMarks}});
    </script>
</body>
</html>