<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{meta_desc}}">
    <meta name="title" content="{{meta_title}}">
    <meta name="author" content="Kaustubh Vats">
    <meta name="country" content="IN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2C3E50">
    <meta name="keywords"
        content="quiz, online quiz, online quiz">
    <title>{{meta_title}}</title>

    <!-- Facebook meta tags -->
    <meta property="og:type" content="Website" />
    <meta property="og:title" content="{{meta_title}}" />
    <meta property="og:description" content="{{meta_desc}}" />
    <meta property="og:image" content="{{meta_img}}" />
    <meta property="og:url" content="https://quizzzer.herokuapp.com/">

    <!-- twitter meta tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://quizzzer.herokuapp.com/">
    <meta property="twitter:title"
        content="{{meta_title}}">
    <meta property="twitter:description"
        content="{{meta_desc}}">
    <meta property="twitter:image"
        content="{{meta_img}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/card.css')}}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/footer.css')}}"/>
</head>
<body>
    <nav id="header" class="helloheader">
        <div class="logo">Teacher Panel</div>
        <ul class="nav-links">
            <li><a href="/leaderboard">Leaderboards</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">{{username}}</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="grid">
        <a href="\addnew">
            <div class="coursecard">
                <img src="{{url_for('static',filename='imgs/addnew.svg')}}" alt="Couse Image failed to display" class="card-img">
                <p class="course-desc">Click to Add New</p>
                <p class="course-name">Add new couse</p>
            </div>
        </a>
    </div>
    <footer class="abs_bottom">
        <div class="footer_p">Made with<div class="heart_container"><i class="fas fa-heart"></i></div> by <a class="footer-name" target="_blank" href="https://kaustubhvats-portfolio.netlify.app">Kaustubh Vats</a></div>
        <div>
            <a href="https://github.com/kaustubh-vats/quizzer" target="_blank" class="github-link"><i class="fab fa-github"></i> Github Repo</a>
        </div>
    </footer>
    <script type="text/javascript" src="{{url_for('static',filename='js/teacher.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static',filename='js/header.js')}}"></script>
    <script type="text/javascript">
        var myVar = myFunc({{course_list|safe}})
    </script>
    
</body>
</html>